extends layout

block content
  h1= title
  
  form(method='POST' action='/login')
    .form-group 
      label(for='email') E-mail
      input#email.form-control(type='text' name='email' placeholder='Digite seu usuário')
    .form-group
      label(for='password') Password
      input#password.form-control(type='password' name='password' placeholder='Digite sua senha')
    button.submit(type='submit') Log In
  a(href='/signup') or Sign Up
  if errors
    ul
      for error in errors
        li.errormsg!= error.msg
  if message 
    p!= message